## SIMPLE LINEAR REGRESSION

#### Importing relevant libraries

In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression

#### Load the data

In [3]:
data=pd.read_csv("1.01. Simple linear regression.csv")

In [5]:
data.head()

    SAT   GPA
0  1714  2.40
1  1664  2.52
2  1760  2.54
3  1685  2.74
4  1693  2.83

#### create the regression

#### Declare the dependent and independent variable

In [6]:
x=data['SAT']
y=data['GPA']